:root {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 400;

  color: var(--black);
  background-color: var(--white);
  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --white: #fff;
  --black: #2E2F42;
  --blue: #4e75ff;
  --hblue: #6c8cff;
  --grey: #808080;
  --red: #EF4040;
  --hred: #ff7070;
  --animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  display: flex;
  flex-direction: column;
  min-width: 100vw;
  min-height: 100vh;
  margin: 0;
}

main {
  flex-grow: 1;
}
main:has(.back-link) {
  text-align: center;
}
